<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p id="teste">  
      <% if(names.length > 0){ %>
        <ul>
          <% names.forEach(function(name) { %>
            <li><%= `${name.placa} - ${name.marca} - ${name.modelo} - ${name.cor}`%></li>
          <% }) %>
        </ul>
      <% } else { %>
        No vehicles found.
      <% } %>
    </p>
  </body>
</html>
