body{
    margin: auto;
    padding: 0;
    display: flex;
}

.container .wrapper{
    background-color: blueviolet;
    display : flex;
    height:100%
}

.container .column-one{
    background-color: rgb(255, 0, 0);
    width: 75%;
    height: 100%;

}

.container .column-two{
    width:25%;
    background-color: blue;
}