*{
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.title{
    margin: 30px 20px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    width: 400px;
    margin: 10px;
}

.card-img-top{
    height: 400px;
    object-fit: cover;
}

.footer{
    background-color: #ecebeb;
    height: 200px;
    margin-top: 40px;
}

.footer > .row{
    width: 100%;
}

ul{
    padding-top: 30px;
    list-style: none;
}

.footer-link{
    text-decoration: none;
    color: black;
    transition: opacity 100ms ease-in-out;
}

.footer-link:hover{
    opacity: calc(0.6);
}

