<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="/stylesheets/addProd.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>Adicionar Novo Produto</h1>
    </div>
    
    <div class="container-fluid">
        <form action="/adicionarProdutos/adicionar" method="POST">
            <div class="input-space">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
                
            </div>
            <div class="input-space">
                <label for="preco">Preço:</label>
                <input type="number" id="preco" name="preco" step="0.01" required>
                <br>
            </div>
            <div class="input-space">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea>
                
            </div>
            <div class="input-space">
                <label for="input-space">Estoque:</label>
                <input type="number" id="estoque" name="estoque" required>
            </div>
            <div class="input-space">
                <label for="categoria">Categoria:</label>
                <input type="text" id="categoria" name="categoria" required>
                
            </div>
            <div class="input-space">
                <label for="imagem">Imagem (URL):</label>
                <input type="text" id="imagem" name="imagem">
                
            </div>
        <button class="btn btn-primary mt-3"type="submit">Adicionar Produto</button>
        </form>
        <a class="navigation" href="/produtos">Voltar para Produtos</a>
    </div>
    <%- include ('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
