<style>
    body {
        background-image: url('/images/aurora boreal.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* A imagem ficará fixa ao rolar */
    }
</style>

<nav class="navbar navbar-expand bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Crypto Data</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
            <a class="nav-link active" href="/">Sobre Mim</a>
          </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/bitcoin/usd">Dolar Americano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bitcoin/pound">Libra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bitcoin/euro">Euro</a>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
          </form> -->
        </div>
    </div>
</nav>